
/* media query  480px  */
@media screen and (max-width:480px) {
   h1{
    font-size:30px;
   }
   .carta {
    width:110px;
    left:100px;
   }
}
/* media query  350px  */
@media screen and (max-width:350px) {
    h1{
     font-size:25px;
    }
   
 }